[user]
  name  = dav_i
  email = davunderscorei@mailinator.com

[alias]
  a    = add
  aa   = add -A

  b    = branch
  bd   = branch -d

  co   = checkout
  cob  = checkout -b

  cam  = commit -am
  cm   = commit -m
  ca   = commit --amend

  cp   = cherry-pick

  d    = diff
  dc   = diff --cached
  ds   = diff --staged

  f    = fetch --prune
  fa   = fetch --all --prune

  g    = grep -n --break

  l    = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" develop.. | cat -n;echo'"
  lc   = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" --graph'"
  la   = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" --graph --all'"
  lr   = "!sh -c 'echo \"\" & git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" -20 --graph --all | cat -n;echo & echo \"\"'"

  m    = merge

  ph   = push
  phod = push origin develop

  pl   = pull --rebase
  plod = pull --rebase origin develop

  r    = rebase
  ra   = rebase --abort
  rc   = rebase --continue
  ro   = rebase --onto
  ri   = rebase --interactive --autosquash

  rl   = reflog --pretty='%cd %h %gd %gs'

  rt   = reset
  rth  = reset --hard
  rts  = reset --soft

  s   = status
  sh  = "!sh -c 'if [[ $0 =~ ^[0-9]+$ ]]; then LINE=$(($0-1)); else LINE=0; fi; git show HEAD~$(($LINE))'"

  ctags = !.git/hooks/ctags

[core]
  excludesfile = ~/.gitignore
  editor = vim

[github]
  user = davunderscorei

[init]
  templatedir = ~/.git_template

[merge]
  conflictstyle = diff3
	tool = kdiff3

[color]
  ui = true

[credential]
  helper = osxkeychain
[mergetool "kdiff3"]
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

